@font-face { font-family: Minecraft; src: url('./Minecraft.otf'); }
@font-face { font-family: MinecraftTen; src: url('./MinecraftTen.otf'); }

/* Keyframe Area */
@keyframes loader { 0% { background-position-y: 0px; } 99.9% { background-position-y: var(--grid-size); } 100% { background-position-y: 0px; } }

:root {
    --background-color: #242424;
    --grid-color: #ff000010;
    --text-color: #fff;
    --font-size: 1.5vw;
    --table-width: 50vw;
    --table-background: #171717;
    --button-background: #666;
    --button-hover-background: #393939;
    --button-active-background: #000000;
    --header-font-size: 4vw;
    --h2-font-size: 2.5vw;
    --h3-font-size: 2.75vw;
    --h3-hover-font-size: 3vw;
    --h3-hover-color: #80a2ff;
    --h4-font-size: 1.5vw;
    --select-background: #393939;
    --select-text-color: #fff;
    --default-font: Arial, sans-serif;
    --h1-font: Arial, sans-serif;

    /* Grid Animation Area */
    --grid-size: 128px;
    --animation-speed: 6s;
    --gradient-definition: #00000000 90deg, var(--grid-color) 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    transition: 0.25s;
    user-select: none;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    /* Animation Area */


    /* Background layers */
    background: conic-gradient(from 90deg at 2px 2px,var(--gradient-definition)), conic-gradient(from 90deg at 1px 1px,var(--gradient-definition)), var(--background-color);
    
    /* Background sizes */
    background-size: var(--grid-size) var(--grid-size), calc(var(--grid-size)/5) calc(var(--grid-size)/5);

    /* Make Grid Animate */
    animation: loader var(--animation-speed) linear infinite;
}
table {
    width: var(--table-width);
    border-collapse: collapse;
    margin-bottom: 20px;
}

.actionButton {
    color: white;
    background-color: #666;
}
.actionButton:hover {
    background-color: #393939;
}

tr:hover {
    font-size: larger;
    height: 12vh;
    background-color: var(--table-background);
    letter-spacing: 1.5px;
    text-shadow: 1px 0 0 white;
}

button {
    height: 6.5vh;
    font-family: var(--default-font);
    font-size: 1.2vw;
    background-color: var(--button-background);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.25s;
    margin-right: 2vw;
    transition: 0.25s;
}

button:hover {
    text-shadow: 1px 0 0 white;
    background-color: var(--button-hover-background);
    transform: scale(1.2);
    transform-origin: center;
}

button:active {
    transform: translateY(5px) scale(0.95);
    background-color: var(--button-active-background);
}

h1 {
    transition: 0.25s;
    font-size: var(--header-font-size);
    font-family: var(--h1-font);
    margin: 0;
}

h2 {
    transition: 0.25s;
    font-size: var(--h2-font-size);
    margin-top: 5vw;
}

h4 {
    white-space: nowrap;
    font-size: var(--h4-font-size);
    margin-right: 1vw;
}

select {
    border-radius: 5px;
    z-index: 97;
    width: 10vw;
    height: 5vh;
    font-size: 2.5vh;
    background-color: var(--select-background);
    color: var(--select-text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s;
}
select:hover {
    scale: 1.15;
    text-shadow: 1px 0 0 white;
}
#infoBox {
    display: none;
    z-index: 50;
    position: fixed; 
    left:0; 
    top: 0;
    background-color: gray;
    padding: 0.5vw;
    border: 4px solid var(--table-background);
}
